agent:
  name: chat_completion
  description: Agent with a chatbot that makes a call to the LLM model and preserves history

templates:
- template_name: InputTemplate
  class_name: InputTemplate
  attributes: {}

- template_name: LazyAudioReaderPydub
  class_name: LazyAudioReaderPydub
  template_input: InputTemplate
  attributes:
    source : gradio
    from_bytes : False
    generic_key: "audio_path"

- template_name : SpeechToTextTransformers
  class_name: SpeechToTextTransformers
  template_input: LazyAudioReaderPydub
  attributes:
    model_path: "openai/whisper-small"
    seed: 1000
    pipeline_kwargs:
      device: "cpu"
      chunk_length_s: 30
    inference_kwargs:
      return_timestamps: word
      generate_kwargs:
        return_segments: True

- template_name : ChatHistoryFetcher
  class_name: ChatHistoryFetcher
  template_input: SpeechToTextTransformers
  attributes:
    db_config:
      user: "postgres"
      password: "password"
      host: "localhost"
      port: 5432
      db_name: "test"
      table: "chat_messages"
    search_kwargs:
      order_by: timestamp DESC
      limit: 10

- template_name: LLaMATextCompletion
  class_name: LLaMATextCompletion
  template_input: ChatHistoryFetcher
  attributes:
    init_args:
      llm_model_name: bartowski/DeepSeek-R1-Distill-Qwen-7B-GGUF
      llm_model_file: DeepSeek-R1-Distill-Qwen-7B-Q8_0.gguf
      n_ctx: 8192
      n_threads: 8
      n_gpu_layers: 25
      chat_format: chatml
      flash_attn: true
      seed: 10
    completion_args:
      max_tokens: 4096
      temperature: 0.2
      seed: 10
    system_prompt : prompts/prompt_qa_en.txt
    pattern: "</think>"
    keep_before: False
    chat_history_key: "ChatHistoryFetcher"

- template_name: TextContentFilter
  class_name: TextContentFilter
  template_input: LLaMATextCompletion
  attributes:
    repeated_word_threshold: 5

- template_name : ChatHistorySaver
  class_name: ChatHistorySaver
  template_input: LLaMATextCompletion
  attributes:
    db_config:
      user: "postgres"
      password: "password"
      host: "localhost"
      port: 5432
      db_name: "test"
      table: "chat_messages"
