agent:
  name: chat_completion

templates:
- template_name: InputTemplate
  class_name: InputTemplate
  attributes: {}

- template_name: LazyAudioReaderPydub
  class_name: LazyAudioReaderPydub
  template_input: InputTemplate
  attributes:
    source : gradio
    from_bytes : False
    generic_key: "audio_path"

- template_name : SpeechToTextTransformers
  class_name: SpeechToTextTransformers
  template_input: LazyAudioReaderPydub
  attributes:
    model_path: "openai/whisper-small"
    seed: 1000
    pipeline_kwargs:
      device: "cpu"
      chunk_length_s: 30
    inference_kwargs:
      return_timestamps: word
      generate_kwargs:
        return_segments: True

- template_name: OpenAIChat
  class_name: OpenAIChatWrapper
  template_input: SpeechToTextTransformers
  attributes:
    model : gpt-4
    create:
      max_tokens: 1024