agent:
  name: chat_completion
  description: Agent with a chatbot that makes a call to the LLM model using a context uploaded from a file

templates:
- template_name: InputTemplate
  class_name: InputTemplate
  attributes: {}

- template_name: FolderImageDatasetCV2
  class_name: FolderImageDatasetCV2
  template_input: InputTemplate
  attributes:
    load_on_init : True
    data_dir: './artifacts'
    pattern : 'test_img.png'

- template_name: LazyAudioReaderPydub
  class_name: LazyAudioReaderPydub
  template_input: FolderImageDatasetCV2
  attributes:
    source : gradio
    from_bytes : False
    generic_key: "audio_path"

- template_name : SpeechToTextTransformers
  class_name: SpeechToTextTransformers
  template_input: LazyAudioReaderPydub
  attributes:
    model_path: "openai/whisper-small"
    seed: 1000
    pipeline_kwargs:
      device: "cpu"
      chunk_length_s: 30
    inference_kwargs:
      return_timestamps: word
      generate_kwargs:
        return_segments: True

- template_name: LLaMATextCompletion
  class_name: LLaMATextCompletion
  template_input: SpeechToTextTransformers
  attributes:
    init_args:
      llm_model_name: bartowski/DeepSeek-R1-Distill-Qwen-7B-GGUF
      llm_model_file: DeepSeek-R1-Distill-Qwen-7B-Q5_K_S.gguf
      n_ctx: 8192
      n_threads: 8
      n_gpu_layers: 29
      chat_format: chatml
      flash_attn: true
      seed: 10
    completion_args:
      max_tokens: 4096
      temperature: 0.2
      seed: 10
    system_prompt : 'You are a helpful assistant'
    pattern: "</think>"
    keep_before: False