services:
  sinapsis-simple-chatbot:
    extends:
      service: sinapsis-chatbots
      file: compose.yaml
    container_name: sinapsis-simple-chatbot
    volumes:
      - "../packages/sinapsis_llama_cpp/src/sinapsis_llama_cpp/configs:/app/packages/sinapsis_llama_cpp/src/sinapsis_llama_cpp/configs/"
      - "../webapps:/app/webapps/"
    command: python3 webapps/llama_cpp_simple_chatbot.py

  sinapsis-claude-chatbot:
    extends:
      service: sinapsis-chatbots
      file: compose.yaml
    container_name: sinapsis-claude-chatbot
    environment:
      AGENT_CONFIG_PATH: /app/packages/sinapsis_anthropic/src/sinapsis_anthropic/configs/anthropic_simple_chat.yaml
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
    volumes:
      - "../packages/sinapsis_anthropic/src/sinapsis_anthropic/configs:/app/packages/sinapsis_anthropic/src/sinapsis_anthropic/configs/"
      - "../webapps:/app/webapps/"
    command: python3 webapps/claude_chatbot.py



  sinapsis-rag-chatbot:
    extends:
      service: sinapsis-chatbots
      file: compose.yaml
    container_name: sinapsis-rag-chatbot
    command: python3 webapps/llama_index_rag_chatbot.py
    depends_on:
      - postgres
    environment:
      FEED_DB_FROM_PDF_PATH: ${FEED_DB_FROM_PDF_PATH}
      FEED_DB_DEFAULT_PATH: ${FEED_DB_DEFAULT_PATH}
      AGENT_CONFIG_PATH: /app/packages/sinapsis_llama_index/src/sinapsis_llama_index/configs/llama_index_rag.yaml
  postgres:
      extends:
        file: compose_db.yaml
        service: postgres
      volumes:
        - /var/lib/postgresql/data

  sinapsis-chatbot-with-history:
    extends:
      service: sinapsis-chatbots
      file: compose.yaml
    container_name: sinapsis-rag-chatbot
    command: python3 webapps/chatbot_with_history.py
    depends_on:
      - postgres
    environment:
      FEED_DB_FROM_PDF_PATH: ${FEED_DB_FROM_PDF_PATH}
      FEED_DB_DEFAULT_PATH: ${FEED_DB_DEFAULT_PATH}
      AGENT_CONFIG_PATH: /app/webapps/configs/llama_simple_chat_with_history.yaml